# N-gramm

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../02/data/tweets.csv")
df.head()

,id,keyword,location,text,target
0,0,ablaze,NaN,"Communal violence in Bhainsa, Telangana. ""Ston...",1
1,1,ablaze,NaN,Telangana: Section 144 has been imposed in Bha...,1
2,2,ablaze,New York City,Arsonist sets cars ablaze at dealership https:...,1
3,3,ablaze,"Morgantown, WV",Arsonist sets cars ablaze at dealership https:...,1
4,4,ablaze,NaN,"""Lord Jesus, your love brings freedom and pard...",0

In [3]:
pip install nltk

Collecting nltkNote: you may need to restart the kernel to use updated packages.
  Using cached nltk-3.5.zip (1.4 MB)
Collecting click
  Downloading click-7.1.2-py2.py3-none-any.whl (82 kB)
Collecting joblib
  Using cached joblib-1.0.1-py3-none-any.whl (303 kB)
Collecting regex
  Downloading regex-2020.11.13-cp38-cp38-win_amd64.whl (270 kB)
Collecting tqdm
  Downloading tqdm-4.58.0-py2.py3-none-any.whl (73 kB)
Building wheels for collected packages: nltk
  Building wheel for nltk (setup.py): started
  Building wheel for nltk (setup.py): finished with status 'done'

  Created wheel for nltk: filename=nltk-3.5-py3-none-any.whl size=1434675 sha256=6f8ad24cd827d2e21129442caec15297a1d912c8e53ec0851a6a699b08b8c66b
  Stored in directory: c:\users\opell.desktop-ueq8dpv\appdata\local\pip\cache\wheels\ff\d5\7b\f1fb4e1e1603b2f01c2424dd60fbcc50c12ef918bafc44b155
Successfully built nltk
Installing collected packages: tqdm, regex, joblib, click, nltk
Successfully installed click-7.1.2 joblib-1.0.1 nltk-3.5 regex-2020.11.13 tqdm-4.58.0

In [4]:
from nltk.util import ngrams

## N-gram with words

In [5]:
corpus = list(df["text"])
corpus = " ".join(corpus)

corpus[:100]
# corpus = corpus["text"].str.join(" ")

'Communal violence in Bhainsa, Telangana. "Stones were pelted on Muslims\' houses and some houses and '

In [6]:
tokenized = corpus.split(" ")

tokenized[:5]

['Communal', 'violence', 'in', 'Bhainsa,', 'Telangana.']

In [7]:
bigramm = ngrams(tokenized, 2)

bigramm

In [8]:
import collections

bigramm_freq = collections.Counter(bigramm)

bigramm_freq.most_common(10)

[(('in', 'the'), 619),
 (('of', 'the'), 612),
 (('to', 'the'), 282),
 (('on', 'the'), 270),
 (('to', 'be'), 215),
 (('for', 'the'), 203),
 (('is', 'a'), 198),
 (('in', 'a'), 197),
 (('of', 'a'), 160),
 (('is', 'the'), 155)]

## N-gram with characters

In [9]:
corpus_chars = list(df["text"].str.join(" "))
corpus_chars = (" ").join(corpus_chars)

corpus_chars[:100]

'C o m m u n a l   v i o l e n c e   i n   B h a i n s a ,   T e l a n g a n a .   " S t o n e s   w '

In [10]:
tokenized_chars = corpus_chars.split(" ")

tokenized_chars = [item for item in tokenized_chars if len(item) > 0]

tokenized_chars[:5]

['C', 'o', 'm', 'm', 'u']

In [11]:
bigramm_chars = ngrams(tokenized_chars, 2)

bigramm_chars

In [12]:
bigramm_chars_freq = collections.Counter(bigramm_chars)

bigramm_chars_freq.most_common(10)

[(('i', 'n'), 16183),
 (('t', 'h'), 16075),
 (('h', 'e'), 14198),
 (('e', 'r'), 12590),
 (('a', 'n'), 12077),
 (('r', 'e'), 11306),
 (('s', 't'), 10024),
 (('o', 'n'), 9399),
 (('t', 't'), 9276),
 (('c', 'o'), 8939)]