# N-gramm

In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv("data/lecture-02/tweets.csv")
df.head()

,id,keyword,location,text,target
0,0,ablaze,NaN,"Communal violence in Bhainsa, Telangana. ""Ston...",1
1,1,ablaze,NaN,Telangana: Section 144 has been imposed in Bha...,1
2,2,ablaze,New York City,Arsonist sets cars ablaze at dealership https:...,1
3,3,ablaze,"Morgantown, WV",Arsonist sets cars ablaze at dealership https:...,1
4,4,ablaze,NaN,"""Lord Jesus, your love brings freedom and pard...",0

from nltk.util import ngrams

## N-gram with words

In [29]:
corpus = list(df["text"])
corpus = " ".join(corpus)

corpus[:100]
# corpus = corpus["text"].str.join(" ")

'Communal violence in Bhainsa, Telangana. "Stones were pelted on Muslims\' houses and some houses and '

In [30]:
tokenized = corpus.split(" ")

tokenized[:5]

['Communal', 'violence', 'in', 'Bhainsa,', 'Telangana.']

In [35]:
bigramm = ngrams(tokenized, 2)

bigramm

In [36]:
import collections

bigramm_freq = collections.Counter(bigramm)

bigramm_freq.most_common(10)

[(('in', 'the'), 619),
 (('of', 'the'), 612),
 (('to', 'the'), 282),
 (('on', 'the'), 270),
 (('to', 'be'), 215),
 (('for', 'the'), 203),
 (('is', 'a'), 198),
 (('in', 'a'), 197),
 (('of', 'a'), 160),
 (('is', 'the'), 155)]

## N-gram with characters

In [50]:
corpus_chars = list(df["text"].str.join(" "))
corpus_chars = (" ").join(corpus_from_chars)

corpus_chars[:100]

'C   o   m   m   u   n   a   l       v   i   o   l   e   n   c   e       i   n       B   h   a   i   '

In [58]:
tokenized_chars = corpus_from_chars.split(" ")

tokenized_chars = [item for item in tokenized_chars if len(item) > 0]

tokenized_chars[:5]

['C', 'o', 'm', 'm', 'u']

In [59]:
bigramm_chars = ngrams(tokenized_chars, 2)

bigramm_chars

In [60]:
bigramm_chars_freq = collections.Counter(bigramm_chars)

bigramm_chars_freq.most_common(10)

[(('i', 'n'), 16183),
 (('t', 'h'), 16075),
 (('h', 'e'), 14198),
 (('e', 'r'), 12590),
 (('a', 'n'), 12077),
 (('r', 'e'), 11306),
 (('s', 't'), 10024),
 (('o', 'n'), 9399),
 (('t', 't'), 9276),
 (('c', 'o'), 8939)]