## Minimal example

In [ ]:
pip install scikit-learn

In [1]:
sentence = "the quick brown fox jumps over the lazy dog"

from sklearn.feature_extraction.text import CountVectorizer

VOCAB_SIZE = 10

vectorizer = CountVectorizer(max_features=VOCAB_SIZE)

X = vectorizer.fit_transform([sentence]).toarray()

print(dict(zip(vectorizer.get_feature_names(), X[0])))

{'brown': 1, 'dog': 1, 'fox': 1, 'jumps': 1, 'lazy': 1, 'over': 1, 'quick': 1, 'the': 2}

## Another example

In [2]:
import pandas as pd

df = pd.read_csv("../data/tweets.csv")

df.head()

,id,keyword,location,text,target
0,0,ablaze,NaN,"Communal violence in Bhainsa, Telangana. ""Ston...",1
1,1,ablaze,NaN,Telangana: Section 144 has been imposed in Bha...,1
2,2,ablaze,New York City,Arsonist sets cars ablaze at dealership https:...,1
3,3,ablaze,"Morgantown, WV",Arsonist sets cars ablaze at dealership https:...,1
4,4,ablaze,NaN,"""Lord Jesus, your love brings freedom and pard...",0

## Extract relevant feature

In [3]:
tweets = df["text"]

tweets.head()

0    Communal violence in Bhainsa, Telangana. "Ston...
1    Telangana: Section 144 has been imposed in Bha...
2    Arsonist sets cars ablaze at dealership https:...
3    Arsonist sets cars ablaze at dealership https:...
4    "Lord Jesus, your love brings freedom and pard...
Name: text, dtype: object

## Remove stopwords

In [4]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords 
import nltk

nltk.download("stopwords")
nltk.download('punkt')

stop_words = set(stopwords.words("english"))

[nltk_data] Downloading package stopwords to C:\Users\opell.DESKTOP-
[nltk_data]     UEQ8DPV\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\opell.DESKTOP-
[nltk_data]     UEQ8DPV\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [5]:
print("Before removing stopwords:")
print(tweets.head())

Before removing stopwords:
0    Communal violence in Bhainsa, Telangana. "Ston...
1    Telangana: Section 144 has been imposed in Bha...
2    Arsonist sets cars ablaze at dealership https:...
3    Arsonist sets cars ablaze at dealership https:...
4    "Lord Jesus, your love brings freedom and pard...
Name: text, dtype: object

In [6]:
import string

tweets = tweets.apply(lambda row: " ".join([word for word in word_tokenize(row) if not word in stop_words and word.isalpha()]))

In [7]:
print("After removing stopwords:")
print(tweets.head())

After removing stopwords:
0    Communal violence Bhainsa Telangana Stones pel...
1    Telangana Section imposed Bhainsa January clas...
2           Arsonist sets cars ablaze dealership https
3     Arsonist sets cars ablaze dealership https https
4    Lord Jesus love brings freedom pardon Fill Hol...
Name: text, dtype: object

## Stemming

In [8]:
from nltk.stem import PorterStemmer  

stemmer = PorterStemmer()

In [9]:
print("Before stemming:")
print(tweets.head())

Before stemming:
0    Communal violence Bhainsa Telangana Stones pel...
1    Telangana Section imposed Bhainsa January clas...
2           Arsonist sets cars ablaze dealership https
3     Arsonist sets cars ablaze dealership https https
4    Lord Jesus love brings freedom pardon Fill Hol...
Name: text, dtype: object

In [10]:
tweets = tweets.apply(stemmer.stem)

In [11]:
print("After stemming:")
print(tweets.head())

After stemming:
0    communal violence bhainsa telangana stones pel...
1    telangana section imposed bhainsa january clas...
2            arsonist sets cars ablaze dealership http
3      arsonist sets cars ablaze dealership https http
4    lord jesus love brings freedom pardon fill hol...
Name: text, dtype: object

## Bag-of-words

In [12]:
from sklearn.feature_extraction.text import CountVectorizer

VOCAB_SIZE = 1000

vectorizer = CountVectorizer(max_features=VOCAB_SIZE)

X = vectorizer.fit_transform(tweets).toarray()

In [13]:
X.shape

(11370, 1000)

In [14]:
X.dtype

dtype('int64')

In [15]:
print(vectorizer.get_feature_names())

['able', 'absolutely', 'accident', 'account', 'across', 'act', 'action', 'activity', 'actually', 'affected', 'after', 'aftershock', 'ago', 'agree', 'air', 'airplane', 'alert', 'all', 'almost', 'alone', 'along', 'already', 'also', 'always', 'am', 'amazing', 'ambulance', 'america', 'american', 'amp', 'an', 'and', 'animal', 'animals', 'annihilated', 'another', 'anyone', 'anything', 'apocalypse', 'are', 'area', 'areas', 'army', 'around', 'arrested', 'arson', 'art', 'article', 'as', 'ash', 'ask', 'asked', 'asking', 'ass', 'at', 'attack', 'attacked', 'australia', 'australian', 'avalanche', 'away', 'baby', 'back', 'backup', 'bad', 'bag', 'bagging', 'bags', 'bang', 'base', 'batangas', 'battle', 'bbc', 'bc', 'be', 'beat', 'become', 'behind', 'believe', 'bernie', 'best', 'better', 'big', 'biggest', 'bill', 'billion', 'bioterror', 'bioterrorism', 'bit', 'black', 'blazing', 'bleeding', 'blew', 'blight', 'blizzard', 'blood', 'bloody', 'body', 'bomb', 'bombed', 'bomber', 'bombing', 'bombs', 'book', 'border', 'boy', 'brace', 'break', 'breaking', 'brendan', 'bridge', 'bring', 'british', 'bts', 'build', 'building', 'buildings', 'burn', 'burned', 'burning', 'bus', 'bush', 'bushfire', 'bushfires', 'business', 'but', 'buy', 'by', 'ca', 'call', 'called', 'calling', 'came', 'campaign', 'can', 'cant', 'car', 'care', 'case', 'casualties', 'casualty', 'cat', 'catastrophic', 'caught', 'cause', 'caused', 'causes', 'causing', 'central', 'change', 'check', 'chemical', 'chief', 'child', 'children', 'china', 'chinese', 'city', 'clear', 'clearly', 'cliff', 'climate', 'close', 'closed', 'coast', 'collapse', 'collapsed', 'collide', 'collided', 'collision', 'come', 'comes', 'coming', 'community', 'company', 'completely', 'continue', 'continues', 'control', 'cool', 'cost', 'could', 'countries', 'country', 'county', 'couple', 'course', 'court', 'crash', 'crashed', 'crazy', 'crisis', 'crush', 'crushed', 'curfew', 'current', 'currently', 'damage', 'damn', 'danger', 'data', 'day', 'days', 'dead', 'deal', 'dear', 'death', 'deaths', 'decided', 'deep', 'deluge', 'democrats', 'demolish', 'demolished', 'demolition', 'derail', 'derailed', 'derailment', 'desolate', 'destroy', 'destroyed', 'destruction', 'detonate', 'devastation', 'did', 'die', 'died', 'different', 'disaster', 'displaced', 'district', 'do', 'does', 'dog', 'don', 'done', 'dont', 'door', 'dr', 'dream', 'drive', 'driving', 'drop', 'drought', 'drown', 'drowned', 'drowning', 'dublin', 'due', 'dust', 'early', 'earth', 'earthquake', 'east', 'either', 'electrocute', 'else', 'emergency', 'end', 'english', 'engulfed', 'enough', 'entire', 'epicentre', 'eruption', 'est', 'evacuate', 'evacuation', 'even', 'event', 'ever', 'every', 'everyone', 'everything', 'evil', 'exactly', 'experienced', 'explosion', 'eyes', 'eyewitness', 'face', 'facing', 'fact', 'failure', 'fake', 'fall', 'families', 'family', 'fan', 'fans', 'far', 'fatal', 'fatalities', 'fatality', 'father', 'fear', 'feel', 'feeling', 'felt', 'fight', 'finally', 'find', 'fir', 'fire', 'fires', 'first', 'five', 'flames', 'flattened', 'flight', 'flood', 'flooding', 'floods', 'follow', 'following', 'food', 'footage', 'for', 'force', 'forced', 'forest', 'forget', 'found', 'four', 'free', 'freight', 'friend', 'friends', 'from', 'front', 'fuck', 'fucking', 'full', 'future', 'game', 'gave', 'get', 'gets', 'getting', 'girl', 'give', 'given', 'giving', 'global', 'go', 'god', 'goes', 'going', 'gon', 'gone', 'good', 'got', 'gove', 'government', 'govt', 'great', 'ground', 'group', 'gt', 'guess', 'gun', 'guy', 'guys', 'hail', 'half', 'hand', 'happen', 'happened', 'happy', 'hard', 'harm', 'has', 'hate', 'have', 'hazard', 'hazardous', 'he', 'head', 'health', 'hear', 'heard', 'heart', 'heat', 'heavy', 'held', 'helicopter', 'hell', 'hellfire', 'help', 'her', 'here', 'hey', 'hi', 'high', 'hijack', 'hijacker', 'hijacking', 'his', 'history', 'hit', 'hitchin', 'hold', 'home', 'homes', 'hope', 'hospital', 'hostage', 'hostages', 'hour', 'hours', 'house', 'houses', 'how', 'http', 'https', 'huge', 'human', 'hurricane', 'hurt', 'id', 'idea', 'if', 'im', 'imagine', 'impact', 'important', 'in', 'incident', 'including', 'india', 'indian', 'info', 'information', 'injured', 'injuries', 'injury', 'innocent', 'inside', 'instead', 'internet', 'interview', 'inundated', 'inundation', 'iran', 'iranian', 'iraq', 'ireland', 'is', 'isis', 'islamic', 'island', 'israel', 'issues', 'it', 'its', 'jan', 'january', 'japan', 'jesus', 'job', 'joe', 'john', 'join', 'just', 'justice', 'kashmir', 'keep', 'kids', 'kill', 'killed', 'killing', 'kind', 'king', 'know', 'land', 'landslide', 'lane', 'large', 'last', 'late', 'latest', 'law', 'lead', 'least', 'leave', 'leaving', 'left', 'less', 'let', 'level', 'life', 'light', 'lightning', 'lik', 'like', 'likely', 'line', 'link', 'list', 'listen', 'literally', 'little', 'live', 'lives', 'living', 'local', 'lol', 'london', 'long', 'longer', 'look', 'looking', 'looks', 'lost', 'lot', 'loud', 'love', 'low', 'lvl', 'made', 'major', 'make', 'makes', 'making', 'man', 'many', 'market', 'mass', 'massive', 'matter', 'may', 'maybe', 'me', 'mean', 'means', 'media', 'melbourne', 'melissa', 'meltdown', 'members', 'men', 'middle', 'might', 'military', 'million', 'millions', 'mind', 'minister', 'minutes', 'miss', 'missile', 'missing', 'mom', 'moment', 'monday', 'money', 'months', 'more', 'morning', 'mother', 'move', 'movie', 'moving', 'much', 'mudslide', 'multiple', 'murder', 'music', 'muslim', 'must', 'my', 'mystery', 'na', 'name', 'nation', 'national', 'natural', 'nc', 'ne', 'near', 'nearly', 'need', 'needed', 'needs', 'never', 'new', 'news', 'next', 'nice', 'night', 'no', 'normal', 'north', 'not', 'nothing', 'now', 'nuclear', 'number', 'obama', 'obliterate', 'obliterated', 'of', 'official', 'officials', 'oh', 'oil', 'ok', 'old', 'on', 'one', 'only', 'open', 'or', 'order', 'others', 'our', 'out', 'outbreak', 'outside', 'over', 'pakistan', 'panic', 'panicking', 'parents', 'park', 'part', 'parts', 'party', 'passengers', 'past', 'pay', 'peopl', 'people', 'person', 'philippines', 'phone', 'pick', 'picture', 'piece', 'place', 'plan', 'plane', 'planet', 'plant', 'play', 'please', 'pm', 'point', 'police', 'political', 'poor', 'possible', 'post', 'power', 'powerful', 'pray', 'president', 'pretty', 'probably', 'problem', 'protect', 'protests', 'public', 'puerto', 'push', 'put', 'quality', 'quarantine', 'quarantined', 'question', 'rain', 'razed', 'reactor', 'read', 'ready', 'real', 'really', 'reason', 'record', 'red', 'refugees', 'regime', 'region', 'relief', 'remember', 'report', 'reported', 'rescue', 'rescued', 'rescuers', 'research', 'residents', 'responders', 'response', 'result', 'return', 'rico', 'right', 'riot', 'rioting', 'risk', 'river', 'rn', 'road', 'rock', 'role', 'room', 'royal', 'rt', 'ruin', 'run', 'running', 'sad', 'safe', 'safety', 'said', 'sandstorm', 'saudi', 'save', 'saved', 'saw', 'say', 'saying', 'says', 'scared', 'school', 'schools', 'screamed', 'screaming', 'screams', 'sea', 'season', 'second', 'security', 'see', 'seeing', 'seems', 'seen', 'seismic', 'send', 'sense', 'sent', 'series', 'serious', 'service', 'services', 'set', 'several', 'severe', 'share', 'she', 'shit', 'shooting', 'short', 'shot', 'show', 'shows', 'shut', 'sick', 'side', 'since', 'singh', 'single', 'sinkhole', 'sinking', 'sir', 'sirens', 'situation', 'six', 'sleep', 'sleeping', 'small', 'smoke', 'snow', 'snowstorm', 'so', 'soldiers', 'soleimani', 'some', 'someone', 'something', 'sometimes', 'son', 'song', 'soon', 'sorry', 'soul', 'sounds', 'south', 'speak', 'speed', 'spill', 'st', 'stand', 'star', 'start', 'started', 'state', 'states', 'station', 'stay', 'still', 'stop', 'storm', 'stormbrendan', 'story', 'stream', 'street', 'stretcher', 'strong', 'students', 'stupid', 'suddenly', 'suicide', 'sun', 'sunday', 'sunk', 'super', 'support', 'sure', 'survive', 'survived', 'survivors', 'swallows', 'system', 'taal', 'take', 'taken', 'takes', 'taking', 'talk', 'talking', 'team', 'tell', 'telling', 'terrorism', 'terrorist', 'terrorists', 'th', 'thailand', 'thank', 'that', 'the', 'then', 'there', 'these', 'they', 'thing', 'things', 'think', 'thinking', 'this', 'though', 'thought', 'thousands', 'thread', 'threat', 'three', 'thunder', 'thunderstorm', 'till', 'time', 'times', 'to', 'today', 'together', 'told', 'tonight', 'took', 'top', 'tornado', 'total', 'totally', 'tour', 'towards', 'town', 'traffic', 'tragedy', 'train', 'training', 'trapped', 'trauma', 'traumatised', 'tried', 'triumphant', 'trouble', 'truck', 'true', 'trump', 'trust', 'try', 'trying', 'tuesday', 'turn', 'tweet', 'twitter', 'two', 'uk', 'ukrainian', 'understand', 'united', 'unless', 'up', 'update', 'upheaval', 'ur', 'us', 'usa', 'use', 'used', 'using', 'vehicle', 'very', 'via', 'victims', 'video', 'violence', 'violent', 'virus', 'visit', 'volcanic', 'volcano', 'vote', 'vs', 'wait', 'waiting', 'wake', 'walk', 'wan', 'want', 'wanted', 'wants', 'war', 'warning', 'warren', 'was', 'watch', 'watching', 'water', 'wave', 'way', 'we', 'weapon', 'weapons', 'weather', 'week', 'weekend', 'weeks', 'weird', 'well', 'went', 'west', 'western', 'what', 'whatever', 'when', 'where', 'whether', 'white', 'who', 'whole', 'why', 'wild', 'wildfire', 'wildlife', 'will', 'win', 'wind', 'winds', 'windstorm', 'wish', 'with', 'within', 'without', 'wo', 'woman', 'women', 'wonder', 'word', 'work', 'working', 'world', 'worse', 'worst', 'would', 'wounded', 'wounds', 'wreck', 'wrecked', 'wrong', 'yeah', 'year', 'years', 'yes', 'yesterday', 'yet', 'you', 'young', 'your', 'zone']

In [17]:
vectorized = pd.DataFrame(X, columns=vectorizer.get_feature_names())

vectorized.head()

,able,absolutely,accident,account,across,act,action,activity,actually,affected,...,yeah,year,years,yes,yesterday,yet,you,young,your,zone
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
type(vectorized)

pandas.core.frame.DataFrame

In [19]:
accident = vectorized.loc[vectorized['accident'] > 1]
accident.head()

,able,absolutely,accident,account,across,act,action,activity,actually,affected,...,yeah,year,years,yes,yesterday,yet,you,young,your,zone
135,0,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0